antlr4-python3-runtime==4.8
Django==3.2.4
django-admin==2.0.1
django-cors-headers==3.7.0
django-cors-middleware==1.5.0
django-excel-base==1.0.4
django-excel-response2==3.0.2
django-rest-knox==4.1.0
django-six==1.0.4
djangorestframework==3.12.4
graphviz==0.16
numpy==1.21.0
z3-solver==4.8.10.0
coverage==5.5
Jinja2==3.0.1
numpy==1.21.0
z3==0.2.0
antlr4-python3-runtime
z3-solver